
h1, h2, h3, div, img,p, section {
   /*border: 2px solid red; */ 
  margin:0;
} 

a {
  text-decoration: none;
  opacity: 1;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  display:flex;
  position: relative;
  height: 100px;
  min-height: 600px;
  max-height: 756px;
  background-color:#F2F2F2;
  margin-bottom:100px;
}

.logo {
  background-position:center;
  background-size:contain;
  background-image:url(../images/logo_place_header.svg);
  background-repeat: no-repeat;
}

.logo_place_header {
  position:absolute;
  width:183px;
  height:32px;
  top:30px;
  left:64px;
}

.header__title {
  width: 730px;
  margin: 0;
  padding: 0;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  align-self: center;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.link::after {
  content:'\2192';
}

.link{
  color:#2F80ED;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right:0;
  bottom:0;
  width:765px;
  height:608px;
  z-index:1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top:64px;
  right:0;
  background-color:#2F80ED;
}

.description {
  margin-top:100px;
  margin-bottom:100px;
}

.two-columns__span-accent {
  font-weight: bold;
  font-size:24px;
  line-height: 34px;
}

.two-columns {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:80%;
  margin:auto;
}

.two-columns__brief {
  flex-basis: 200px;
  color: #2F80ED;
  line-height:1.2;
  font-size:18px;

}

.two-columns__main-text {
  flex-basis: 80%;
  min-width: 784px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph{
  font-size:24px;
  line-height:34px;
  margin-bottom:30px;
}

.digits{
  margin-top:100px;
  margin-bottom:100px;
}

.section-title {
  padding-top:100px;
  margin-bottom:20px;
  width:60%;
  line-height: 69px;
  font-size:60px;
  font-weight: bold;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

.section-subtitle {
  margin: 0;
  padding: 0;
  width:60%;
  line-height: 34px;
  font-size:24px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.table {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  position:relative;
  margin-left: auto;
  margin-right:auto;
  width:1100px;
  justify-content: space-between;
}

.digits__table {
  margin-top:0;
}

.table__heading {
  line-height: 1.15;
  font-size:24px;
  font-weight: bold;
  margin-bottom:20px;
  margin-top:0;
}

.table__text {
  margin-bottom: 0;
  margin-top:20px;
  line-height:1.2;
  font-size:18px;
}

.table__cell {
  width:250px;
  margin-top: 60px;
}

.feynman {
  padding-top:100px;
  background-color: #F2F2F2;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  position: relative;
  min-height: 890px;
}


.feynman__title {
  line-height:1.15;
  text-align: center;
  font-size:120px;
  font-weight: bold;
  width:648px;
  margin: 0 auto;
  margin-bottom:70px;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  line-height:51px;
  font-size:36px;
  text-align: center;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 46%;
  line-height:51px;
  font-size:36px;
  right:48px;
  color:rgb(90, 92, 247);
}

.kaufman {
  padding-bottom:90px;
  padding-top: 90px;
  position: relative;
  color: white;
  background-color:rgb(32, 32, 32);
  overflow:hidden;
}

.kaufman__triangle {
  background-image:url(../images/kaufman-triangle.svg);
  position: absolute;
  width:877px;
  height:877px;
  background-repeat: no-repeat;
  right:-210px;
  top:0;
  background-size: contain; 
}

.table_theme_dark {
  color: white;
  z-index:1;
}

.table__cell_theme_dark {
  width: 200px;
  line-height:1.2;
  font-size:18px;
  margin-top: 80px;
}

.footer {
  background-color:rgb(32, 32, 32);
  min-height: 350px;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
  display: flex;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 250px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  color: #fff;
}

.logo_place_footer {
  width:183px;
  height:35px;
  left:0;
  top:0;
}

.footer__author {
  font-weight: normal;
  font-size: 18px;
  margin: 18px 0 18px;
  line-height: 25px;
}

.footer__column_heading {
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column_links {
  display: flex;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 16px;
  flex-direction: column;
  color:#fff;
}

.footer__column_link {
  color:#fff;
}

.footer__social_icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

ul {
  padding-left: 0;
  margin:auto;
  list-style: none;
}
